.input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #6b6969;
  transition: all 0.2s ease-in-out;
  &:focus {
    outline: none;
    border-bottom: 1px solid #41488b;
    background-color: transparent;
  }
}
